/* Mojo Colours */
$mojo-red: #f23f3f;
$mojo-pink: #e9429b;
$mojo-yellow: #fed966;
$mojo-green: #08d0a5;
$mojo-blue: #33bdf1;
$mojo-dark-blue: #153b6a;
$mojo-purple: #8d50f5;

/* Greys, Blacks & Whites */
$black: #000000;
$grey-100: #101010;
$grey-90: #262626;
$grey-80: #525252;
$grey-70: #6f6f6f;
$grey-60: #8d8d8d;
$grey-50: #a8a8a8;
$grey-40: #c6c6c6;
$grey-30: #e0e0e0;
$grey-20: #f4f4f4;
$white: #ffffff;

/* Responsive Breakpoints */
$break-xxs: 360px !default;
$break-xs: 479px !default;
$break-ssm: 769px !default;
$break-sm: 839px !default;
$break-md: 959px !default;
$break-lg: 1023px !default;
$break-xl: 1279px !default;
$break-xxl: 1439px !default;
$break-xxxl: 2872px !default;

/* Display Settings */
$max-width: 1280px;
$page-height: 100vh;

/* Gradients */
$gradient-one: linear-gradient(283.66deg, #33bdf1 37.69%, #fed966 100.73%);
$gradient-two: linear-gradient(283.16deg, #153b6a 21.19%, #33bdf1 100.56%);
$gradient-three: linear-gradient(285.43deg, #153b6a 40.19%, #fed966 101.31%);
